body {
    font-size: 1em;
    position: relative;
}

body * {
    box-sizing: border-box;
}

#mainContent{
    margin-left: 300px;
}

.recent-music {
    width: 250px;
    height: 100%;
    padding-top: 45px;
    padding-bottom:50px;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0;
    background-color:white;
}

header {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgb(99, 99, 99);
    background-color: rgb(255, 156, 43);
    position: fixed;
    top: 0;
}

.wrapper {
    width: 100%;
    margin-top: 40px;
}

.container {
    width: 1400px;
    padding-left: 250px;
    margin: 0 auto;
    justify-content: space-between;
}

.flex {
    display: flex;
    align-items: center;
}

.inline {
    display: inline-block;
    align-items: center;
}

a:link, a:visited, a:hover, a:active {
    color: black;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

form {
    margin: 0;
}

.user_in {
    padding: 0px;
    width: 100px;
    text-align: center;
}