
.possible_music{
	margin-top:100px;
	margin-left:200px;
	border-style: solid;
	border-color: LightSlateGray;
	border-radius: 20px;
	border-width:2px;
	width:700px;
	height:410px;
	padding: 15px;
}
.display_none{
	display: none;
}
.other_music_play_now{
	float:left;
	background-image: url("../other/play.svg");
	background-repeat:no-repeat;
	width:20px;
	height: 20px;
	border: none;
	outline: none;
	margin-right: 20px;
}
.other_music_text{
	float:left;
	margin-top: -5px;
}
.other_music_entry{
	background-color: #eff2f3;
	height: 50px;
	padding: 20px;
	border-color: black;
	border-radius: 50px;
	width: 500px;
	margin-bottom: 10px;
}

.other_music_centered{
	margin-top:-6px;
}

.other_music_play_button{
	float:right;
	border-radius: 50px;
	color:black;
	outline: none;
	border: none;
	color:white;
	background-color: black;
	padding:5px;
	margin-top: -3px;
	width: 90px;
	cursor:pointer;
}
.other_music_play_button:hover{
	background-color: red;
}