
.playlist_music_entry{
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	clear: both;
	height: 40px;
}

.playlist_entry_text{
	float:left;
}

.playlist_duration{
	margin-top:10px;
	float:right;
}

.delete_from_playlist{
	background-image: url("../other/delete_playlist.png");
	background-repeat:no-repeat;
	width: 23px;
	height: 25px;
	border: none;
	outline: none;
	float: right;
	margin-top:5px;
	margin-left: 10px;
	cursor: pointer;
}