
.playlist_music_entry{
	justify-content: space-between;
	margin: 10px 0 10px 10px;
	height: 40px;
}

.delete_from_playlist{
	cursor: pointer;
}

.recent-music-list {
    width:230px;
}

.recent-music-list-item {
    margin-left:10px;
    max-width:220px;
    width:220px;
    margin-bottom: 10px;
}

.playlist_entry_text {
    width:165px;
}

.hide-long {
    width:220px;
    cursor: pointer;
    white-space: nowrap ;
    overflow: hidden;
    text-overflow: ellipsis;
}