.recent-music-list {
    width:230px;
}

.recent-music-list-item {
    margin-left:10px;
    max-width:220px;
    width:220px;
    margin-bottom: 10px;
}

.playlist_entry_text {
    width:165px;
}

.hide-long {
    width:220px;
    cursor: pointer;
    white-space: nowrap ;
    overflow: hidden;
    text-overflow: ellipsis;
}